#title{
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#formulario{
    text-align: center;
    margin-top: 200px;
}

#paises {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.banderas{
    width: 100px;
    height: 75px;
}

input[type="radio"]{
    opacity: 1;
}



.banderas:hover{
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.color {
    color: blue;
    font-weight: bold;
}
